
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gradient-to-br from-indigo-900 via-purple-900 to-slate-900 bg-slate-900 text-white;
    font-family: 'DM Sans', sans-serif;
}
